#tabel-siswa{
    border-collapse: collapse;
    background-image: url(img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    border-width: 1px;
    border-style: solid;
    border-color: white;

    margin: auto;

    color: white;
}
button{
    padding: 5px;
}
.link{
    color: red;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: green;
}
#tabel-siswa h3{
    font-size: 32px;
}
#tabel-siswa td{
    padding: 20px;
}